<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hacker.mapper.BusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hacker.po.Business">
        <id column="business_key" property="businessKey" />
        <result column="process_instance_id" property="processInstanceId" />
        <result column="business_type" property="businessType" />
        <result column="business_title" property="businessTitle" />
        <result column="business_stater" property="businessStater" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_key, process_instance_id, business_type, business_title, business_stater, create_time
    </sql>

</mapper>
